*{margin:0; padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
box-sizing: border-box;
outline:none; border:none;
text-decoration: none;
text-transform: capitalize;}
:root{
   
    --blue: #3B8AC4;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 5 rem;
    overflow-x: hidden;
 
}
header{
    position:fixed;
    top:0; right:0; left:0;
    background: #030419;
    display:flex;
    padding:1.5rem 4%;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgb(227, 236, 241);
    border-bottom-right-radius : 0.6rem;
    border-bottom-left-radius : 0.6rem;
    z-index: 4;
}
header .logo{
    font-size: 3rem;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    opacity : 0.8;
}
header .navigationbar a{
font-size: 1.8rem;
padding: 0 1.8rem;
color: rgb(255, 255, 255);
opacity : 0.8;
}
header .navigationbar a:hover{
    color: var(--blue);
}
header .icons a{
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    margin-left: 1.5rem ;
    opacity : 0.8;
}
header .icons a:hover{
    color: var(--blue);
}
section{
    padding: 2rem 9%;
 
}
.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-image: url("vacation.webp");;
    background-position: center;
    background-size: cover;
}
.home .content{
    max-width: 60rem;
}
 
.home .content span{
	font: arial,sans-serif;
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
}
.btn{
    display: inline-flex;
    margin-top: 1rem;
    border-radius: 1rem;
    background:rgb(50, 84, 100);
    color:rgb(255, 255, 255);
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    font-size: 1rem;
}
.btn:hover{
    background: var(--blue);
}
.bookingform
            {
                padding:10px 0px 0px;
            }
            .bookingform label{
                margin-bottom: 5px;
                margin-top: 10px;
                font-size: 14px;
                color:rgb(252, 242, 212);
            }
            input::placeholder
            {
                color:rgb(185, 185, 185)
            }
            .inputs
            {
                width:150px;
                display: inline-block;
            }
            .bookingbox
            {
               max-width: 400px;
               margin:2% auto 0;
            }
            .btnstyle{
                background:rgb(50, 84, 100) ;
                color:rgb(255, 255, 255) ;
                border: 1px solid rgb(27, 44, 56);
                border-radius: 1rem;
                text-shadow: none;
		    padding: 0.5rem 0.5rem;
		    font-size:14px;
            margin-top: 0.25rem;
            }
            .btnstyle:hover{
                background: var(--blue);
            }
            .radio
            {
                font-size: 17px;
                color:rgb(252, 242, 212);
            }
            #para1{
		    font-size: 20px;
                font: arial,sans-serif;
                color:rgb(255, 255, 255);
            }
 *
{
    box-sizing: border-box;
    }
   
    body{
    margin: 0;
    font-family: poppins, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    background: #eaeff4;
    }
   
    .wrapper{
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }
   
    .container{
    position: relative;
    width: 100%;
    max-width: 600px;
    height: auto;
    display: flex;
    background: #ffffff;
    box-shadow: 5px 5px 5px #2b2b2b;
    }
   
   
   
    .login .col-left,
    .login .col-right{
    padding: 30px;
    display: flex;
    }
   
   
    .login .col-left{
        width: 60%;
        clip-path: polygon(0 0, 0% 100%, 100% 0 );
        background-image:url('lgn3.jpg');
        }
   
        .login .col-right{
        padding: 60px 30px;
        width: 50%;
        margin-left: -10%;
        }
       
       
        @media(max-width: 575px){
            .login .container{
            flex-direction: column;
            box-shadow: none;
            }
            .login .col-left,
            .login .col-right{
            width: 100%;
            margin: 0;
            clip-path: none;
            }
            .login .col-right{
            padding: 30px;
            }
           
            }
   
           
            .login .login-text{
            position: relative;
            width: 100%;
            color: #ffffff;
            }
   
            .login .login-text h2{
            margin: 0 0 15px 0;
            font-size: 30px;
            font-weight: 700;
            }
   
            .login .login-text p{
            margin: 0 0 20px 0;
            font-size: 16px;
            font-weight: 500;
            line-height: 22px;
            }
           
            .login .login-text .btn{
            display: inline-block;
            font-family: poppins;
            padding: 7px 20px;
            font-size: 16px;
            letter-spacing: 1px;
            text-decoration: none;
            border-radius: 30px;
            color: #ffffff;
            outline: none;
            border: 1px solid #ffffff;
            box-shadow: inset 0 0 0 0 #ffffff;
            transition: .3s;
            }
           
            .login .login-text .btn:hover{
            color: #3B8AC4;
            box-shadow: inset 150px 0 0 0 #ffffff;
            }
           
            .login .login-form{
            position: relative;
            width: 100%;
            }
            .login .login-form h2{
            margin: 0 0 15px 0;
            font-size: 22px;
            font-weight: 700;
            }
            .login .login-form p{
            margin: 0 0 10px 0;
            text-align: left;
            color: #666666;
            font-size: 15px;
            }
            .login .login-form p:last-child{
            margin: 0;
            padding-top: 3px;
            }
            .login .login-form p a{
            color: #3B8AC4;
            font-size: 14px;
            text-decoration: none;
            }
            .login .login-form label {
            display: block;
            width: 100%;
            margin-bottom: 2px;
            letter-spacing: .5px;
            }
            .login .login-form p:last-child label{
            width: 60%;
            float: left;
            }
            .login .login-form label span{
            color: #ff574e;
            padding-left: 2px;
            }
            .login .login-form input{
            display: block;
            width: 100%;
            height: 35px;
            padding: 0 10px;
            outline: none;
            border: 1px solid #cccccc;
            border-radius: 30px;
            }
            .login .login-form input:focus{
            border-color: #ff574e;
            }
            .login .login-form button,
            .login .login-form input[type=submit] {
            display: inline-block;
            width: 100%;
            margin-top: 5px;
            color: #3B8AC4;
            font-size: 16px;
            letter-spacing: 1px;
            cursor: pointer;
            background: transparent;
            border: 1px solid #3B8AC4;
            border-radius: 30px;
            box-shadow: inset 0 0 0 0b#3B8AC4;
            transition: .3s;
            }
            .login .login-form button:hover,
            .login .login-form input[type=submit]:hover{
            color: #ffffff;
            box-shadow: inset 250px 0 0 0 #3B8AC4;
            }
           
